sqlalchemy psycopg2-binary passlib[bcrypt]
fastapi==0.122.0
uvicorn[standard]==0.38.0

SQLAlchemy==2.0.44
psycopg2-binary==2.9.11

python-dotenv==1.2.1

alembic==1.17.2

pydantic==2.12.5
pydantic_core==2.41.5
typing_extensions==4.15.0
typing-inspection==0.4.2
annotated-types==0.7.0
annotated-doc==0.0.4

starlette==0.50.0
anyio==4.12.0
idna==3.11
urllib3==2.5.0

minio==7.2.20
pycryptodome==3.23.0

watchfiles==1.1.1
websockets==15.0.1

# Optional helper libs your system installed
click==8.3.1
colorama==0.4.6
PyYAML==6.0.3
Mako==1.3.10
MarkupSafe==3.0.3
greenlet==3.2.4
cffi==2.0.0
pycparser==2.23
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
httptools==0.7.1
h11==0.16.0
requests

passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
razorpay
pydantic-settings
